{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <h1 align="center">Registration Form</h1>
    {% if err %}
        <h3 style="color: red; text-align: center">{{err}}</h3>
    {% endif %}
    <form action="{% url 'register' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <table align="center" border="2" cellspacing="0" cellpadding="8">
            <tr>
                <td>Role</td>
                <td>
                    <select name="role">
                        <option>User</option>
                        <option>Seller</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Firstname</td>
                <td><input type="text" name="fname"></td>
            </tr>
            <tr>
                <td>Lastname</td>
                <td><input type="text" name="lname"></td>
            </tr>
            <tr>
                <td>Gender:</td>
                <td>
                    <select name="gender">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" name="email"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="passwd"></td>
            </tr>
            <tr>
                <td>Upload Profile</td>
                <td><input type="file" name="profilepic"></td>
            </tr>
            <tr>
                <td align="center" colspan="2"><input type="submit" value="Register"></td>
            </tr>
        </table>
    </form>
</body>

</html>